
<style>
  .responsive-textarea {
    width: 60%;
    height: 88%;
    font-family: monospace;
    font-size: 20px;
    white-space: pre;
    overflow-x: auto;
  }
</style>

<html lang="en">
  <head>
    <title>算术题</title>
  </head>
  <body>
      <h1>{{.Title}}</h1>
      <form action="/submit" method="post">
          <label for="options">Choose an option:</label>
          <select name="options" id="options" onchange="this.form.submit()">
              {{range $index, $option := .Options}}
              <option value="{{ $option }}" {{if eq $option $.Selected}}selected{{end}}>{{ $option }}</option>
              {{end}}
          </select>
          <button type="submit">Update</button>
      </form>
      <div>
        <button class="copyText" onclick="copyText()">Copy</button>
        <label id="toast"></label>
      </div>
      <br>
      <textarea class="responsive-textarea" readonly>{{.Content}}</textarea>
      <script>
        function copyText() {
          const text = document.querySelector('.responsive-textarea').value;
          navigator.clipboard.writeText(text).then(() => {
            const toast = document.getElementById("toast");
            toast.innerText = "Copied to clipboard!";
            setTimeout(() => {
              toast.innerText = "";
            }, 3000);
          }).catch(err => {
            console.error('Failed to copy text: ', err);
          });
        }
      </script>
  </body>
</html>
